:root{
  --bg-green: #009688;
  --bg-grey: #D5DBD7;
  --bg-light-grey: #EAEAEA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}

.main-wrapper {
  height: 100%;
  background-image: linear-gradient(0deg, var(--bg-grey) 0 85%, var(--bg-green) 85% 100%);
}

.main-wrapper .container-ctm {
  background-color: var(--bg-light-grey);
  width: 85%;
  min-width: 1000px;
  height: 95%;
  min-height: 220px;
  margin: auto;
}

.main-wrapper .container-ctm aside {
  width: 30%;
  min-width: 380px;
  height: 100%;
  border: 1px solid black;
}

.main-wrapper .container-ctm content {
  width: 70%;
  height: 100%;
  border: 1px solid black;
}